body{
    margin:0px;
    padding:0px;
    font-family: Verdana,  Tahoma, sans-serif;
}
.header{
    width:100%;
    height:100vh;
    background-image: url('https://etimg.etb2bimg.com/photo/78639022.cms');
    background-color: rgba(14, 13, 13, 0.5);
    background-blend-mode: multiply; /* how an img should blend vth bg color here multiply means darker img than before*/
    background-position: center;
    background-size: cover;
    padding:0 7%;
    
    
}
nav{
    position:fixed;
     top:0;
     left:0;   
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    width:320px;
    cursor:pointer;
}
nav ul{
    flex:1;
    text-align: center
 }
nav ul li{
    display: inline-block;
    margin:10px 20px;
}  
nav ul li a{
    text-decoration: none;
    color:white;
}
nav .button{
    color:white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: 7%;
    padding:10px 30px;
    

}

.info{
    width:100%;
    padding:0 7%;
    display:flex;
    align-items: center;
    color:white;
    position:fixed;
    bottom:50px;
    left:0;

}
.info div{
    margin:0px  30px;
 } 
.info div h2{
    font-size: 30px;
    
}
.info .line{
    flex:0.5;    
    background: white;     
    height:4px;
}



